<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">&copy; 2024 UniRobótica. Todos os direitos reservados.</li></ul>
        </div>
        
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/UniRobotica" target="_blank"><svg class="svg-icon"><use xlink:href={{"/assets/css/minima-social-icons.svg#github" | relative_url}}></use></svg> <span class="username">UniRobotica</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p>O UniRobótica é uma plataforma de aprendizado e desenvolvimento de robótica com foco em pesquisa e educação. Aqui você encontrará recursos, cursos e projetos voltados para a robótica educacional e industrial.</p>
        </div>
      </div>
  
    </div>
  
</footer>
